
.container {
  background: rgba(0, 0, 0, 0.3);
  padding: 2rem;
  border-radius: .3rem;
  width: 100%;
  max-width: 40rem;
  text-align: center;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
  font-family:'poppins-regular';
}

h1 {
  color: var(--cor-2);
  font-size: clamp(1rem, 1.6dvw, 1.6rem);
  margin: 0 0 1rem 0;
}

p {
  color: var(--cor-2);
  font-size: clamp(.5rem, 1dvw, 1rem);
}

input {
  width: 100%;
  padding: 1rem;
  margin: 0 0 1rem 0;
  border: none;
  border-radius: .3rem;
  font-size: clamp(1rem, 1.6dvw, 1.6rem);
}

input:focus {
  outline: transparent;
}

button {
  width: 100%;
  padding: 1rem;
  font-size: clamp(1rem, 1.6dvw, 1.6rem);
  color: var(--cor-2);
  background: var(--cor-1);
  border: none;
  border-radius: .3rem;
  cursor: pointer;
  transition: .3s ease-in-out;
}

button:hover {
  background: var(--cor-4);
}

#resultado {
  margin: 3rem 0 0 0;
  text-align: left;
}
